html {
  height: 100%;
}
body {
  background-image: url("../attributes/city.jpg");
  background-size: 100% auto;
  height: 100%;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-size: 3em;
}
nav {
  width: 100%;
  background-color: black;
  overflow: hidden;
  margin-bottom: 10px;
}
ul {
  list-style-type: none;
  font-size: 1.5em;
  padding: 0;
  margin: auto;
  width: 960px;
}
li {
  float: right;
}
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #dbabab;
}
li a:hover {
  background-color: rgb(200, 206, 170);
  color: black;
}

/* this css is for all pages */
.content {
  background-color: black;
  color: rgb(200, 206, 170);
  margin: 0 auto;
  width: 960px;
  height: 80vh;
  padding: 5px;
  opacity: 0.8;
  text-align: left;
  border-radius: 25px;
}
p {
  padding: 5px;
}
img {
  float: left;
  width: 150px;
  height: 200px;
}
form {
  padding: 5px;
  text-align: center;
}
input {
  padding: 5px;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 15px;
  grid-gap: 15px;
}
.gallery {
  margin: auto;
  border: 1px solid #ccc;
  width: 180px;
  text-align: center;
}
.gallery img {
  width: 100%;
  height: auto;
}
footer {
  position: absolute;
  padding: 15px;
  bottom: 0px;
  width: 100%;
  background-color: black;
  color: #dbabab;
  text-align: center;
}
.buttom {
  height: 40px;
  width: 80px;
  background-color: rgb(200, 206, 170);
  padding: 15px;
  font-size: 1em;
}
.media {
  margin: 90px;
  height: 400px;
  font-size: 2em;
  text-align: center;
  color: rgb(66, 246, 135);
}
.fab {
  color: rgb(66, 246, 135);
  font-size: 3em;
  padding: 15px;
}

.fab:hover {
  color: rgb(200, 206, 170);
}
